#editDetails {
    margin-top: 3vh;
    margin-left: 15vw;
}

body {
    background-color: aliceblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 4vh;
}

label {
    font-size: 20px;
}

input[type=text], input[type=password] {
    padding: 0.75rem;
    width: 400px;
    vertical-align: top;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 20px;
}

input[type=submit] {
    background-color: black;
    color: white;
    border-color: rgb(42, 42, 42);
    border-radius: 3px;
    font-size: 18px;
    padding: 8px;
    margin-top: 20px;
}

input[type=submit]:hover {
    background-color: rgb(80, 80, 80);
    color: teal;
    transition: 0.3s;
}

#errorContent {
    font-size: 18px;
    color: red;
    -webkit-animation: cssAnimation 4s forwards; 
    animation: cssAnimation 4s forwards;
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

@keyframes cssAnimation {
    0%   {opacity: 1;}
    80%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    80%  {opacity: 1;}
    100% {opacity: 0;}
}
