label {
    display: inline-block;
    font-size: 16pt;
    width: 160px;
    text-align: left;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: arial;
    color: black;
    background-color: rgb(203, 250, 203);
}

#content {
    padding: 4vw;
    width: 35vw;
    border-radius: 20px;
    background-color: aliceblue;
}

img {
    width: 60%; 
    height: auto; 
}

#loginContent {
    font-size: 28px;
    margin-top: 50px;
}

#signupContent {
    font-size: 20px;
    margin-top: 100px;
}

input {
    background-color: white;
    border-color: darkgrey;
}

input[type=text], input[type=password] {
    padding: 8px;
    width: 200px;
    vertical-align: top;
}

input[type=submit] {
    color: black;
    border-radius: 3px;
    font-size: 20px;
    padding: 8px;
    min-width: 80px;
    margin-top: 20px;
}

input[type=submit]:hover {
    background-color: palegreen;
}