ul, li {
    text-align: left;
    font-size: 12pt;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial;
    color: black;
    background-color: rgb(111, 182, 111);
}

#content {
    padding: 4vw;
    width: 35vw;
    border-radius: 20px;
    background-color: aliceblue;
}

img {
    width: 60%; 
    height: auto; 
}

#errorContent {
    margin-left: 6vw;
}

#loginContent {
    font-size: 28px;
    margin-top: 30px;
}

#signupContent {
    font-size: 20px;
    margin-top: 50px;
}

input:last-child {
    margin-bottom: 0;
}

input[type=text], input[type=password] {
    padding: 0.75rem;
    width: 21vw;
    vertical-align: top;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type=submit] {
    color: black;
    background-color: rgb(141, 226, 141);
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    padding: 8px;
    width: 21vw;
}

input[type=submit]:hover {
    background-color: rgb(111, 182, 111);
}