<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>


<div class="container">
<h2>Login</h2>

<form action="" method="post">
  <div class="container">
    <b>Username</b>
    <input type="text" placeholder="Enter Username" name="uname" required>
    <br>
    <b>Password</b>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <br>
    <button type="submit">Login</button>

    <button type="button" class="cancelbtn">Cancel</button>
  </div>


</div>

</body>
</html>
