<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Donate</title>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <link rel="stylesheet" href="/stylesheets/donate.css">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;600;700&display=swap" rel="stylesheet">
        <script src="index.js" defer></script>
        <script src="/donate.js" defer></script>
        <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=CAD"></script>
    </head>
    <body>
        <section class="donation-box">
                <h1>Give today!</h1>
                <a href="/"><img src="/images/logo.png" alt="logo"></a>
                <div id="donation-box-inner">
                    <h3>Single Donation</h3>
                    <span class="input-symbol-dollar">
                        <input type="number" id="amount" placeholder="0.00" value="1.00" step=".01" required>
                    </span>
                    <div id="paypal-button-container">
                    </div>
                </div>
        </section>
        
    </body>
    </html>
