<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Church Website</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="index.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;600;700&display=swap" rel="stylesheet">

</head>
<script src="https://kit.fontawesome.com/1762306277.js" crossorigin="anonymous"></script>
<body>
 <nav class="header">
        <div class="header_container">
            <a href="/" id="headerlogo"> <i class="fa-solid fa-church"></i>Pacific Church</a>
            <div class="header_toggle" id="mobile_menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>

            <ul class="header_menu">
                <li class = "header_item">
                    <a href="/" class="header_links">HOME</a></li>
                <li class = "header_item">
                    <a href="#videos" class="header_links">VIDEOS<i class="fa-solid fa-sort-down"></i></a></li>
                <li class = "header_item">
                    <a href="#blog" class="header_links">BLOG</a></li>

                <!-- change visibility -->
                <div id="guest">
                    <li class = "header_item">
                        <a href="/login" class="header_links">LOGIN</a></li>
                    <li class = "header_item">
                        <a href="/signup" class="header_links">SIGNUP</a></li>
                </div>

            </ul>
        </div>
    </nav>    

<section class="homebackground">
    <nav>
        <a href="/"></a>
    </nav>
    <div id="home" class = "home_text">
        <h1>Fill your life with service that matters</h1>
        <p>
            We will never change the world by going to Church <br>We will only change the world by being the church
        </p>
        <a href=""class="homepage_btn">Visit Us To Know More</a>
    </div>

</section>

<!---BLOG SECTION-->
<section id="blog">
    <div class="blog_heading">
        <span>Our Recent posts</span>
        <h3>Blogs</h3>
    </div>

    <div class="blog_container">
        <!------BLOG 1-------->
        <div class="blog_box">
            <div class="blog_image">
                <img src="images/homeimage/ChurchBlog1.jpg" alt="Blog">
            </div>
            <div class="blog_text">
                <span>1 January 2022</span>
                <a href="#" class="blog_title">This is the First Blog.</a>
                <p>This is how I write my First Blog</p>
                <a href="#">Read more</a>
            </div>
        </div>
        <!--BLOG 2-->
        <div class="blog_box">
            <div class="blog_image">
                <img src="images/homeimage/ChurchBlog2.jpg" alt="Blog">
            </div>
            <div class="blog_text">
                <span>1 January 2022</span>
                <a href="#" class="blog_title">This is the Second Blog.</a>
                <p>This is how I write my Second Blog</p>
                <a href="#">Read more</a>
            </div>
        </div>
        <!--BLOG 3-->
        <div class="blog_box">
            <div class="blog_image">
                <img src="images/homeimage/ChurchBlog3.jpg" alt="Blog">
            </div>
            <div class="blog_text">
                <span>1 January 2022</span>
                <a href="#" class="blog_title">This is the Third Blog.</a>
                <p>This is how I write my Third Blog</p>
                <a href="#">Read more</a>
            </div>
        </div>
    </div>
</section>

<!--Archived Videos-->

<section id="videos">
    <div class="video_heading">
        <h4>VIDEOS</h4>
    </div>

    <div class="video_container">
        <div class="video_box">
            <div class="video_tag">
                <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="600" height="400" type="text/html" src="https://www.youtube.com/embed/aih2gh734vw?autoplay=0&fs=1&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=1&start=0&end=0&origin=http://youtubeembedcode.com"><div><small><a href="https://youtubeembedcode.com/nl/">youtubeembedcode.com/nl/</a></small></div><div><small><a href="https://britecasinoutansvensklicens.se/">https://britecasinoutansvensklicens.se/</a></small></div><div><small><a href="https://youtubeembedcode.com/de/">youtubeembedcode de</a></small></div><div><small><a href="https://sportbethorseracing.com/">https://sportbethorseracing.com/</a></small></div></iframe>
            </div>
            <div class="video_text">
                <p>This is our latest video</p>
            </div>
        </div>

    </div>
    <div class="outtext">
        <p>We are determined to move forward by combining technology to make everything more accessible.<br>No member from our Pacific Church community can miss out on anything. </p>
    </div>


</section>

<!--CONTACT US-->
<section class="contact">
    <h6>Have any questions?<br> Feel free to ask us</h6>
    <a href="" class="homepage_btn">CONTACT US</a>
</section>
















<!--ABOUT US-->
<section class="about">
    <h5>ABOUT US</h5>
    <P>We are determined to move forward by combining technology to make everything more accessible </P>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
    <p>Made by A 276Group</p>
</section>







</body>
</html>