<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
        <script src="../../index.js" defer></script>
        <title>Login</title>
    </head>
    <body>
        <div id="content">
            <img src="/images/logo.png" alt="logo">
            <div id="loginContent">
                <ul>
                    <% if(typeof errors != 'undefined') { %> <% errors.forEach(error=>{ %>
                            <li><%= error.message %></li>
                    <% }) %><% } %>
                </ul>
                <form method="post">
                    <input type="text" placeholder="Email" name="email" minlength="1" maxlength="100" required><br>
                    <input type="password" placeholder="Password" name="password" minglength="1" maxlength="20" required><br>
                    <input type="submit" value="Login">
                </form>
            </div>
            <div id="errorMessage"></div>
            <div id="signupContent">
                <form action="/signup">
                    <text>No account?</text>
                    <a href="/signup">Create one</a>
                </form>
            </div>
        </div>
    </body>
</html>