<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="376022680662-meru43h5tvg8i8qfeii49bjuj2rbi5qe.apps.googleusercontent.com">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
        <script src="index.js" defer></script>
        <title>Login</title>
    </head>
    <body>
        <div id="content">
            <a href="/"><img src="/images/logo.png" alt="logo"></a>
            <div id="errorContent">
                <ul>
                    <% if(typeof errors != 'undefined') { %> 
                        <% errors.forEach(error=>{ %>
                            <li><%= error.message %></li>
                        <% }) %>
                    <% } %>
                </ul>
            </div>
            <div id="loginContent">
                <form method="post">
                    <input type="text" name="email" minlength="1" maxlength="100" placeholder="Email" autofocus required><br>
                    <input type="password" name="password" minglength="1" maxlength="20" placeholder="Password" autofocus required><br>
                    <input type="submit" value="Login">
                </form>
            </div>
            <div id="signupContent">
                <text>No account?</text>
                <a href="/signup">Create one</a>
            </div>
            <div class="g-signin2" data-onsuccess="onSignIn" style="display:flex; align-items: center; justify-content: center; margin-bottom: 30px; margin-top: 20px;"></div>
            <div><a href="#" onclick="signOut();" style="display:flex; align-items: center; justify-content: center;">Google Account Sign out</a></div>
        </div>
        <script>
            function onSignIn(googleUser) {
                var id_token = googleUser.getAuthResponse().id_token;
                // console.log(id_token);

                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/login');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onload = function() {
                    console.log('Signed in as: ' + xhr.responseText);
                    if(xhr.responseText == 'success'){
                        signOut();
                        location.assign('profile');
                    }
                };
                xhr.send(JSON.stringify({token : id_token}));
            }
            function signOut() {
                let auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                    console.log('User signed out.');
                });
            }
        </script>
    </body>
</html>