<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Virtual Meetings</title>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;600;700&display=swap" rel="stylesheet">
        <script src="index.js" defer></script>
        <script src="https://kit.fontawesome.com/1762306277.js" crossorigin="anonymous" defer></script>
    </head>
    <body>
        <nav class="header">
            <div class="header_container">
                <a href="/" id="headerlogo"><i class="fa-solid fa-church"></i>Pacific Church</a>
                <div class="header_toggle" id="mobile_menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="header_menu">
                    <li class = "header_item">
                        <a href="/" class="header_links">HOME</a></li>
                    <li class = "header_item">
                        <a href="/#videos" class="header_links">VIDEOS<i class="fa-solid fa-sort-down"></i></a></li>
                    <li class = "header_item">
                        <a href="/#blog" class="header_links">BLOG</a></li>
                    <li class = "header_item">
                        <a href="/account" class="header_links">ACCOUNT</a></li>
                    <li class = "header_item">
                        <a href="/logout"class="header_links">LOGOUT</a></li>
                </ul>
            </div>
        </nav>   
        <!-- add buttons for new meeting or join existing meeting -->
        <!-- have public (displayed in table?) / private meetings -->

        <!-- create new room -->
        <form action="/meeting/room">
            <input type="submit" value="Create New Room">
        </form>

        <!-- join room via roomId? (meeting code) -->
        <input type="text" id="roomId" placeholder="Enter code here...">

    </body>
</html>