<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoomBookings</title>
    <link rel="stylesheet" href="/stylesheets/roombooking.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;600;700&display=swap" rel="stylesheet">
    <script src="index.js"></script>
    <script src="https://kit.fontawesome.com/1762306277.js" crossorigin="anonymous" defer></script>
</head>
<body>
    <section>
    <nav class="header">
        <div class="header_container">
            <a href="/" id="headerlogo"><i class="fa-solid fa-church"></i>Pacific Church</a>
            <div class="header_toggle" id="mobile_menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="header_menu">
                <li class = "header_item">
                    <a href="/" class="header_links">HOME</a></li> 
            </ul>
        </div>
    </nav>
    </section>

    <section class="roomcal">
        <h1>OUR ROOMS AVAILABILITY/CALENDAR</h1>
        <div class="calform1">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FVancouver&src=ODFqYWZuMHFsamFvaG1mcDc1NzNwNG8ydGdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23E67C73" style="border:solid 1px #777" width="400" height="400" frameborder="0" scrolling="no"></iframe>
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FVancouver&src=c2Q5ZXYyNGRrc3NhMWxoaWtoamxqbTk1bGtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%237CB342" style="border:solid 1px #777" width="400" height="400" frameborder="0" scrolling="no"></iframe>
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FVancouver&src=cnNyczBjOGkzYXUybXY1MjU0b3UyZ3E3cThAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23D81B60" style="border:solid 1px #777" width="400" height="400" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="calform2">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FVancouver&src=cDVnMG1wZXI1YW5hYzkwZDV1Z3JzYTd0aGdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23D50000" style="border:solid 1px #777" width="400" height="400" frameborder="0" scrolling="no"></iframe>
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FVancouver&src=cm40M2tsOHBtZ3Flb3RidmI3dWRob2JzYjBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23A79B8E" style="border:solid 1px #777" width="400" height="400" frameborder="0" scrolling="no"></iframe>        
        </div>  
        <h2>IMPORTANT:- </h2><p>PLEASE LOOK FOR A CONFIRMATION EMAIL.</p>  
    </section>


    <section class="roomform">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSenraKtuC109D1qzH6EJSMfjSpyClisz7zHT_ExjhFYoFKNNQ/viewform?embedded=true" width="1500" height="1400" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </section>
    <section class="contact">
        <h1>For Wedding and Other Ceremonies Bookings</h1>
        <a href="/contact" class="homepage_btn">CONTACT US</a>
    </section>
</body>
</html>