<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        const ROOM_ID = "<%= roomId %>";
        const FIRST_NAME = "<%= user.fname %>";
    </script>
    <script src="https://kit.fontawesome.com/a90336667c.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/meeting.js" defer></script>
    <script src="index.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Room</title>
    <link rel="stylesheet" href="/stylesheets/room.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <div class="pop">
        <input type="checkbox" id="3" />
        <div class="popup" id="invite">
          <div class="popup__inner">
              <b>Invite Link</b>
              <input type="text" id="link" value="x"><br>
              <b>Meeting Code</b>
              <input type="text" id="room" value="<%= roomId %>"><br>
              <button onclick="copyLink()">Copy link</button>
            <label class="btn-close" for="3">X</label>
          </div>
        </div>
    </div>
    <div class="main">
        <!-- videos -->
        <div class="main-left">
            <div class="main-videos">
                <!-- videos get appended here -->
                <div id="video-grid"></div>
            </div>
            <!-- controls -->
            <div class="main-controls">
                <div class="main-controls-block">
                    <div class="main-controls-button main-mute-button">
                        <i class="fa-solid fa-microphone"></i>
                        <span>Mute</span>
                    </div>
                    <div class="main-controls-button main-video-button">
                        <i class="fa-solid fa-video"></i>
                        <span>Stop Video</span>
                    </div>
                </div>
                <div class="main-controls-block">
                    <label for="3" class="open">
                        <div class="main-controls-button" onclick="toggleInvite()">
                            <i class="fa-solid fa-plus"></i>
                            <span>Invite</span>
                        </div>
                    </label>
                    
                    <div class="main-controls-button">
                        <i class="fa-solid fa-user-group main-participants-button"></i>
                        <span>Participants</span>
                    </div>
                    <div class="main-controls-button main-chat-button">
                        <i class="fa-solid fa-message"></i>
                        <span>Chat</span>
                    </div>
                    <div class="main-controls-button main-expand-button">
                        <i class="fa-solid fa-expand"></i>
                        <span>Expand</span>
                    </div>
                </div>
                <div class="main-controls-block">
                    <div class="main-controls-button main-leave-button">
                        <span class="leave-meeting">Leave Meeting</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- chat -->
        <div class="main-right">
            <div class="main-chat-header">
                <h5>Chat</h5>
            </div>
            <div class="main-chat-window" id="chat-window"></div>
            <div class="main-messages-container">
                <form id="form">
                    <input id="chat-input" autocomplete="off" placeholder="Type message here..."/>
                </form>
            </div>
        </div>
    </div>
</body>
</html>