<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">  
        <script src="../../index.js" defer></script>
        <title>Register an Account</title>
    </head>

    <body>
        <div id="content">
            <div id="topContent">
                <a href="/"><img src="/images/logo.png" alt="logo"></a>
            </div>
            <div id="loginContent">
                <ul>
                    <% if(typeof errors != 'undefined') { %> <% errors.forEach(error=>{ %>
                            <li><%= error.message %></li>
                    <% }) %><% } %>
                </ul>
                <form id="loginForm" method="post">
                    <input type="text" placeholder="First Name" name="fName" minlength="1" maxlength="100" required><br>
                    <input type="text" placeholder="Last Name" name="lName" minlength="1" maxlength="100" required><br>
                    <input type="text" placeholder="Email" name="email" minlength="1" maxlength="100" required><br>
                    <input type="password" placeholder="Password" name="password" minlength="1" maxlength="20" required><br>
                    <input type="submit" value="Register">
                </form>
            </div>
            <div id="signupContent">
                <form action="/signup">
                    <text>Have an account?</text>
                    <a href="/login">Sign in</a>
                </form>
            </div>
        </div>
    </body>
</html>
